@layout('master')

@section('content')
@if(auth.user)
    <table class="table">
        <tr>
            <th>Character</th>
            <th>Real Name</th>
        </tr>
    @each((stageName, realName) in characters)
        <tr>
            <td>{{ stageName }}</td>
            <td>{{ realName }}</td>
        </tr>
    @endeach
    </table>
@else
    <div class="subtitle">Please login</div>
@endif
@endsection